<div class="container">
    <ul class="nav nav-pills nav-justified">
        <li *ngFor="let step of steps; let i = index" class="nav-item">
            <div class="d-grid">
                <button
                        (click)="onCLick(i)"
                        [class.active]="selectedIndex === i"
                        [disabled]="true"
                        class="nav-link py-3 text-uppercase fw-bold">
                    {{step.label}}
                </button>
            </div>
        </li>
    </ul>
    <div *ngIf="selected">
        <ng-container [ngTemplateOutlet]="selected.content"></ng-container>
    </div>
</div>
